@import "../../variables";

.main-container {
  background-color: $gray-1;
  width: 66.66%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .scroll-container {
    overflow-y: scroll;
  }

  .scroll-container::-webkit-scrollbar {
    display: none;
  }

  &__messages {
    display: flex;
    flex-direction: column;
    gap: $small;
    padding: $small;
    justify-content: end;
    padding-bottom: 2.8rem + $small;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    background-color: $gray-1;
  }

  &__default {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
