@import "../../variables";

.contact-card {
  display: flex;
  gap: $small;
  justify-content: start;
  align-items: center;
  padding: $medium;

  &:hover,
  &--active {
    cursor: pointer;
    background-color: $gray-1;
  }

  &__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
