$gray-1: #f1f4f7;
$gray-2: #e8ecef;
$gray-25: #a1a1a1;
$gray-3: #72808b;
$text-primary: #000000;
$text-secondary: #ffffff;

$extra-small: 0.5rem;
$small: 0.75rem;
$medium: 1rem;
$large: 1.25rem;
$extra-large: 1.5rem;
